body {
    margin: 0px;
    border: 0px;
    font-family: Sans-serif;
}

.bar {
    display: flex;
    height: 150px;
    width: 100vw;
    background-color: #555; 
}

.wrapper {
    height: 50px;
    width: 100vw;
    display: flex;
}

.radio {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.searchButton {
    color: white;
    padding: 5px;
    border: 2px solid #0074d9;
    border-left: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0px;
    cursor: pointer;
    background-color: #0074d9;
}

.searchTerm {
    border: 2px solid #0074d9;
    border-right: none;
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;     
    align-content: center;  
    margin: auto;
}

.main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


/* SLIDER: */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0074d9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0074d9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


